<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Loans
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list>
    <ion-item *ngFor="let loan of loans" button  (click)="goTo(loan)" >
      
      <ion-icon slot="start" [name]="getIconName(loan.status)"></ion-icon>
      <ion-label>
        <p>Username: {{loan.username}}</p>
        <h3>Status: {{loan.status}}</h3>
        <h3>Due Date: {{loan.duedate | date:'d MMM yyyy'}}</h3>
        <h3>Loan Items: {{loan.items.length}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
